---
layout: default
title : Publications
navbar_title: Publications
---

{% assign pubs = site.publications | sort: "cv_order" %}
{% assign conf = pubs | where_exp: "p", "p.kind == 'conference'" %}
{% assign jour = pubs | where_exp: "p", "p.kind == 'journal'" %}

<div class="row">
    <div class="col-12">
        <h2 class="pubs-page-title">Conference Papers</h2>
        <div class="panel">
            {% for item in conf %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last %}
            {% endfor %}
        </div>

        <h2 class="pubs-page-title mt-5">Journal Articles</h2>
        <div class="panel">
            {% for item in jour %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last %}
            {% endfor %}
        </div>
    </div>
</div>
