<div class="row mt-4">
    <div class="col">
        <div class="panel">

            {% if site.data.profile.education %}
            <section class="cv-block">
                <h3 class="cv-heading">Education</h3>
                {% for item in site.data.profile.education %}
                <article class="cv-entry reveal-item">
                    <div class="cv-entry-head">
                        <div>
                            <div class="cv-org">{{ item.name }}</div>
                            <div class="cv-role">{{ item.position }}</div>
                            {% if item.location %}<div class="cv-location">{{ item.location }}</div>{% endif %}
                        </div>
                        <div class="cv-date">{{ item.date }}</div>
                    </div>
                    {% if item.bullets %}
                    <ul class="cv-bullets">
                        {% for b in item.bullets %}
                        <li>{{ b }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </article>
                {% endfor %}
            </section>
            {% endif %}

            {% if site.data.profile.experience %}
            <section class="cv-block">
                <h3 class="cv-heading">Experience</h3>
                {% for item in site.data.profile.experience %}
                <article class="cv-entry reveal-item">
                    <div class="cv-entry-head">
                        <div>
                            <div class="cv-org">{{ item.name }}</div>
                            <div class="cv-role">{{ item.position }}</div>
                            {% if item.location %}<div class="cv-location">{{ item.location }}</div>{% endif %}
                        </div>
                        <div class="cv-date">{{ item.date }}</div>
                    </div>
                    {% if item.bullets %}
                    <ul class="cv-bullets">
                        {% for b in item.bullets %}
                        <li>{{ b }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </article>
                {% endfor %}
            </section>
            {% endif %}

            {% if site.data.profile.awards %}
            <section class="cv-block cv-block-last">
                <h3 class="cv-heading">Honors &amp; Awards</h3>
                <ul class="cv-awards">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <span class="cv-award-name">{{ item.name }}</span>
                        <span class="cv-date">{{ item.date }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}

        </div>
    </div>
</div>
